In [1]:
## 라이브러리
import pandas as pd

In [80]:
## 파일불러오기
gagu_1 = pd.read_csv('data/2021_1인가구비율.csv', encoding='cp949')
ap = pd.read_csv('data/202112_202112_연령별인구현황_연간.csv', encoding='cp949')
bus = pd.read_csv('data/대구광역시_시내버스 정류소 위치정보_20220731.csv', encoding='cp949')
parking = pd.read_csv('data/대구광역시_주차장정보_20220602.csv', encoding='cp949')
subway = pd.read_csv('data/대구도시철도공사_역별무료자전거운영현황_20220830.csv', encoding='cp949')
school = pd.read_csv('data/대구시 자치구별 대학교 학령인구 통계.csv', encoding='cp949')
dong = pd.read_csv('data/대구시 행정구역(동별).csv', encoding='cp949')
dong2 = pd.read_csv('data/동·읍·면별_세대_및_인구_20221010114955.csv', encoding='cp949')
ingumildo = pd.read_csv('data/인구밀도_인구주택총조사기준__20221010115042.csv', encoding='cp949')

2021년 기준으로 데이터 결합

In [128]:
## 가구 수
gagu_1.rename(columns={'행정구역별':'행정구역'},inplace=True)
gagu_1

       행정구역  1인가구비율     1인가구      일반가구
0        전국    33.4  7165788  21448463
1     서울특별시    36.8  1489893   4046799
2     부산광역시    34.0   487362   1431365
3     대구광역시    32.7   326866   1000931
4     인천광역시    30.0   355657   1183610
5     광주광역시    34.5   212385    615693
6     대전광역시    37.6   240932    640085
7     울산광역시    29.5   133061    451432
8   세종특별자치시    31.5    45706    145295
9       경기도    29.2  1543100   5290662
10      강원도    36.3   245012    674728
11     충청북도    36.3   252251    695611
12     충청남도    35.8   327432    915634
13     전라북도    35.7   276153    772471
14     전라남도    35.3   274108    777358
15     경상북도    36.0   416697   1156645
16     경상남도    32.7   450490   1378982
17  제주특별자치도    32.7    88683    271162

In [39]:
## 연령별 인구 수
ap2 = ap.iloc[:,0:2]
ap2.rename(columns = {'2021년_계_총인구수':'총인구'},inplace=True)
ap2

    행정구역        총인구
0  대구광역시  2,385,412
1     중구     74,791
2     동구    341,436
3     서구    164,528
4     남구    143,175
5     북구    437,008
6    수성구    417,097
7    달서구    544,926
8    달성군    262,451

       행정구역  1인가구비율     1인가구      일반가구
0        전국    33.4  7165788  21448463
1     서울특별시    36.8  1489893   4046799
2     부산광역시    34.0   487362   1431365
3     대구광역시    32.7   326866   1000931
4     인천광역시    30.0   355657   1183610
5     광주광역시    34.5   212385    615693
6     대전광역시    37.6   240932    640085
7     울산광역시    29.5   133061    451432
8   세종특별자치시    31.5    45706    145295
9       경기도    29.2  1543100   5290662
10      강원도    36.3   245012    674728
11     충청북도    36.3   252251    695611
12     충청남도    35.8   327432    915634
13     전라북도    35.7   276153    772471
14     전라남도    35.3   274108    777358
15     경상북도    36.0   416697   1156645
16     경상남도    32.7   450490   1378982
17  제주특별자치도    32.7    88683    271162

In [59]:
## 행정구역별 버스정류소 수
bus_n = list(bus.groupby('구군').count().iloc[:,0])
bus_n

[160, 561, 693, 583, 588, 190, 418, 118]

In [61]:
data = pd.DataFrame({'행정구역' : list(bus.groupby('구군').count().index),
                    '버스정류소 수': bus_n})
data

  행정구역  버스정류소 수
0   남구      160
1  달서구      561
2  달성군      693
3   동구      583
4   북구      588
5   서구      190
6  수성구      418
7   중구      118

In [ ]:
## 버스정류소 수와 연령별 총 인구수 결합
data = pd.merge(data,ap2)

### 주차장 수 전처리

In [82]:
parking.isna().sum()

주차장관리번호         0
주차장명            0
주차장구분           0
주차장유형           0
소재지도로명주소        3
소재지지번주소         0
주차구획수           0
급지구분            0
부제시행구분          0
운영요일            0
평일운영시작시각        0
평일운영종료시각        0
토요일운영시작시각       0
토요일운영종료시각       0
공휴일운영시작시각       0
공휴일운영종료시각       0
요금정보            0
주차기본시간          0
주차기본요금          1
추가단위시간          9
추가단위요금          6
1일주차권요금적용시간    86
1일주차권요금         7
월정기권요금         19
결제방법            1
특기사항           80
관리기관명           0
전화번호            0
위도              0
경도              0
데이터기준일자         0
dtype: int64

In [84]:
parking['행정구역'] = '대구'

In [86]:
for i in range(0,len(parking)):
    #print(i, parking.iloc[i,5])
    parking['행정구역'][i] = parking.iloc[i,5].split(' ')[1]

C:\Users\dkq50\AppData\Local\Temp\ipykernel_16096\117761165.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  parking['행정구역'][i] = parking.iloc[i,5].split(' ')[1]

In [122]:
a = parking.groupby('행정구역').count()
a['행정구역'] = list(a.index)
a.rename(columns={'주차장관리번호': '주차장 수'},inplace=True)
a = a.iloc[:,[0,-1]]

In [123]:
a.reset_index(drop = True, inplace = True)
a.reset_index(drop = True, inplace = True)

In [108]:
data

  행정구역  버스정류소 수      총인구
0   남구      160  143,175
1  달서구      561  544,926
2  달성군      693  262,451
3   동구      583  341,436
4   북구      588  437,008
5   서구      190  164,528
6  수성구      418  417,097
7   중구      118   74,791

In [124]:
a

   주차장 수 행정구역
0      2   남구
1     17  달서구
2     16   동구
3     30   북구
4      5   서구
5     10  수성구
6      6   중구

In [126]:
pd.merge(data,a,how='left')

  행정구역  버스정류소 수      총인구  주차장 수
0   남구      160  143,175    2.0
1  달서구      561  544,926   17.0
2  달성군      693  262,451    NaN
3   동구      583  341,436   16.0
4   북구      588  437,008   30.0
5   서구      190  164,528    5.0
6  수성구      418  417,097   10.0
7   중구      118   74,791    6.0

In [127]:
subway

,호선,역명,자전거(대),보관대(조),경사로(m),자전거 보관 상세위치,공기주입기,운영시간
0,1,설화명곡역,0,0,160,없음,없음,운영안함
1,1,화원역,0,0,90,없음,없음,운영안함
2,1,대 곡 역,8,2,64,지하 2층 표내는 곳 통과 후 기능실 입구 앞,있음,06시-20시
3,1,진 천 역,8,2,67,지하 2층 고객안내센터 앞,있음,06시-20시
4,1,월 배 역,4,2,55,지하 2층 고객안내센터 앞,있음,06시-20시
5,1,월 촌 역,4,2,59,지하 1층 표내는곳 내 계단 옆,있음,06시-20시
6,1,서부정류장역,5,2,57,지하 1층 고객안내센터 옆 표내는곳 통과 후 복도 문 앞,있음,06시-20시
7,1,현 충 로 역,9,1,68,지하 1층 고객안내센터 앞,있음,06시-20시
8,1,영대병원역,6,1,71,지하 2층 안심행 계단 옆,있음,06시-20시
9,1,명 덕 역,6,1,50,지하 1층 고객안내센터 앞,있음,06시-20시
10,1,칠성시장역,9,2,93,지하 2층 1번 출구 방향,있음,06시-20시
11,1,신 천 역,7,2,71,지하 1층 설화명곡행 계단 옆,있음,06시-20시
12,1,동 대 구 역,7,2,84,지하 1층 1번 출구 방향,있음,06시-20시
13,1,동구청역,5,1,64,지하 1층 고객안내센터 앞,있음,06시-20시
14,1,아 양 교 역,13,2,102,지하 3층 고객안내센터 옆,있음,06시-20시
15,1,동 촌 역,20,2,95,지하 3층 고객안내센터 앞,있음,06시-20시
16,1,해 안 역,8,2,75,지하 3층 고객안내센터 앞,있음,06시-20시
17,1,율 하 역,6,2,58,지하 1층 안심행 종점 승강장 방향,있음,06시-20시
18,1,신 기 역,10,2,58,지하 1층 고객안내센터 앞,있음,06시-20시
19,1,반 야 월 역,6,1,57,지하 1층 고객안내센터 앞,있음,06시-20시
20,1,각 산 역,9,2,64,지하 1층 고객안내센터 앞,있음,06시-20시
21,2,문 양 역,8,2,58,지상 1층 주차장 출입구 옆,있음,06시-20시
22,2,대 실 역,22,3,125,지하 2층 화장실 입구 왼쪽 방향,있음,06시-20시
23,2,강 창 역,10,2,107,지하 2층 고객쉼터 옆,있음,06시-20시
24,2,계 명 대 역,13,3,92,지하 2층 영남대행 엘리베이터 옆,있음,06시-20시
25,2,성서산단역,8,3,82,지하 2층 EL2호기 옆,있음,06시-20시
26,2,이 곡 역,10,2,124,지하 1층 쏘유아울렛 의류매장 옆,있음,06시-20시
27,2,용 산 역,6,2,89,지하 2층 표내는곳 옆,있음,06시-20시
28,2,감 삼 역,8,2,96,지하 2층 자동발매기 옆,있음,06시-20시
29,2,두 류 역,5,2,80,지하 2층 표내는곳 내 가운데,있음,06시-20시
30,2,반 월 당 역,0,0,35,없음,없음,운영안함
31,2,경대병원역,17,2,90,지하 1층 화장실옆,있음,06시-20시
32,2,대구은행역,6,2,94,지하 1층 고객안내센터 옆,있음,06시-20시
33,2,범 어 역,6,2,94,지하 3층 고객안내센터 옆,있음,06시-20시
34,2,만 촌 역,5,2,96,지하 2층 발매기 옆,있음,06시-20시
35,2,연 호 역,4,1,96,지하 1층 화장실 옆,있음,06시-20시
36,2,대 공 원 역,4,1,109,지하 3층 표내는곳 앞,있음,06시-20시
37,2,고 산 역,5,2,74,지하 1층 화장실 앞,있음,06시-20시
38,2,신 매 역,4,1,72,지하 2층 영남대행 E/L 2호기 옆,있음,06시-20시
39,2,사 월 역,6,2,106,지하 3층 표 내기전 대합실 벽면,있음,06시-20시
40,2,정 평 역,8,2,80,지하 1층 고객안내센터 옆,있음,06시-20시
41,2,임 당 역,5,2,87,지하 1층 대합실 출구반대방향 안쪽 위치,있음,06시-20시
42,2,영 남 대 역,0,0,95,없음,없음,운영안함